<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sporitelna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sporitelna.Properties.Settings>
            <setting name="btntDetails1Cache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtAsPath" serializeAs="String">
                <value>P:\PAM\MZDY.T_0</value>
            </setting>
            <setting name="txtHoldingPath" serializeAs="String">
                <value>P:\PAM\holding\MZDY.T_1</value>
            </setting>
            <setting name="txtBusPath" serializeAs="String">
                <value>P:\PAM\bus\MZDY.T_1</value>
            </setting>
            <setting name="txtLogisticsPath" serializeAs="String">
                <value>P:\PAM\logistics\MZDY.T_1</value>
            </setting>
            <setting name="txtServisPath" serializeAs="String">
                <value>P:\PAM\servis\MZDY.T_1</value>
            </setting>
            <setting name="usersIdChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersTitulChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersFirstNameChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersLastNameChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersAddressChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersNationalityChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersBirthdateChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usersCompanyChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dgvUsersWidth0" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="dgvUsersWidth1" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="dgvUsersWidth2" serializeAs="String">
                <value>212</value>
            </setting>
            <setting name="dgvUsersWidth3" serializeAs="String">
                <value>211</value>
            </setting>
            <setting name="dgvUsersWidth4" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="dgvUsersWidth5" serializeAs="String">
                <value>212</value>
            </setting>
            <setting name="dgvUsersWidth6" serializeAs="String">
                <value>213</value>
            </setting>
            <setting name="dgvUsersWidth7" serializeAs="String">
                <value>212</value>
            </setting>
            <setting name="contractsIdChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsFirstNameChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contractsLastNameChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contractsFullNameChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsFinalAmountChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsInterestRateChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsTotalChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsCurrencyChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contractsDateSinceChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contractsDateToChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contractsDescriptionChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contractsStatusChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterSelectedYear" serializeAs="String">
                <value>2022</value>
            </setting>
        </Sporitelna.Properties.Settings>
    </userSettings>
</configuration>